<a href="https://colab.research.google.com/github/jabsolo73/DAY1-ML/blob/main/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install panda

Collecting panda
  Downloading https://files.pythonhosted.org/packages/79/03/74996420528fe488ce17c42b6400531c8067d7eb661c304fa3aa8fdad17c/panda-0.3.1.tar.gz
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from panda) (57.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from panda) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2.10)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py) ... done
  Created wheel for panda: filename=panda-0.3.1-cp37-none-any.whl size=7259 sha256=1ea651b9951037a5038f5fd79d291bbea594c0776f96fd705134bfd723148183
  Stored in directory: /root/.cache/pip/wheels/c6/c8/45/06ed898b0bb401c1ff207dbb05b1587ff28860a236d98b1996
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1

In [9]:
import pandas as pd

In [11]:
data=pd.read_csv("/content/ipl_matches.csv")

In [13]:
data.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [14]:
data.tail()

      id  season       city  ...          umpire1          umpire2 umpire3
631  632    2016     Raipur  ...   A Nand Kishore     BNJ Oxenford     NaN
632  633    2016  Bangalore  ...     AK Chaudhary  HDPK Dharmasena     NaN
633  634    2016      Delhi  ...        M Erasmus    C Shamshuddin     NaN
634  635    2016      Delhi  ...        M Erasmus        CK Nandan     NaN
635  636    2016  Bangalore  ...  HDPK Dharmasena     BNJ Oxenford     NaN

[5 rows x 18 columns]

In [16]:
data.shape

(636, 18)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [18]:
data.describe()

               id       season  ...  win_by_wickets  umpire3
count  636.000000   636.000000  ...      636.000000      0.0
mean   318.500000  2012.490566  ...        3.372642      NaN
std    183.741666     2.773026  ...        3.420338      NaN
min      1.000000  2008.000000  ...        0.000000      NaN
25%    159.750000  2010.000000  ...        0.000000      NaN
50%    318.500000  2012.000000  ...        4.000000      NaN
75%    477.250000  2015.000000  ...        7.000000      NaN
max    636.000000  2017.000000  ...       10.000000      NaN

[8 rows x 6 columns]

In [20]:
web=pd.read_html("https://en.wikipedia.org/wiki/Machine_learning")

In [23]:
sheet=pd.read_excel("/content/ex1.xlsx")